@model HotelManagerViewModel

@{
    bool isEnclosureCompatible = Model.ActiveRoom!.RoomType!.Id == 1;
    string? roomDeleteErrorMessage = TempData["roomDeleteErrorMessage"] as string;
    string? enclosureErrorMessage = TempData["enclosureErrorMessage"] as string;
}


@section ScriptsAndStylesheets
{
    <link rel="stylesheet" href="~/css/enclosures.css" />
    <link rel="stylesheet" href="~/css/employees.css"/>
    <link rel="stylesheet" href="~/css/rooms.css" />
    <link rel="stylesheet" href="~/css/baseforms.css" />
    <script defer type="module" src="~/js/modal_uni.js"></script>
}

@section Main
{
    <div class="room_full-wrapper">
        <span class="room_name-span text-highlight">Room @Model.ActiveRoom!.Id</span>
        <div class="room_full-cont">
            <div class="room_info-cont">
                <div class="room_type-status-wrapper">
                    <span class="room_type-span">
                        @Model.ActiveRoom!.RoomType!.Type
                    </span>
                    <span class="room_status-span">
                        <span class="demibold">
                            Room Status: 
                        </span>
                        <span class="@(Model.ActiveRoom!.UnableToBook ? "not_" : string.Empty)available_status">
                            Is @(Model.ActiveRoom!.UnableToBook ? "not" : string.Empty) opened for booking and contracts
                        </span>
                    </span>
                </div>
                <div class="room_image-wrapper">
                    <img class="room_full-image" src="~/img/image_placeholder.png"/>
                </div>
            </div>
            <div class="room_employees-wrapper">
                <div class="room_employees-header">
                    <span class="room_employees-span">Room Responsible Employees:</span>
                    <a class="add_btn btn" asp-action="ManagerRoomInformation" asp-controller="HotelManager"
                        asp-route-roomId="@Model.ActiveRoom!.Id" asp-route-isAddingEmployee="@true">
                        Add Responsible Employee
                    </a>
                </div>
                @if (Model.ActiveRoom!.Employees!.Count != 0)
                {
                    <div class="room_employees-cont">
                        @foreach(Employee emp in Model.ActiveRoom!.Employees!)
                        {
                            <a class="employee_cont-wrapper" asp-action="ManagerRoomInformation" asp-controller="HotelManager"
                                asp-route-roomId="@Model.ActiveRoom!.Id" asp-route-employeeId="@emp.Id">
                                <div class="employee-img-cont">
                                    <img class="employee_img-round" src="~/img/image_placeholder.png">
                                </div>
                                <span class="employee_name-sp">@($"{emp.FirstName} {emp.LastName}")</span>
                                <span class="employee_type-sp">@emp.LoginInfo!.UserType!.Name</span>

                                <div class="employee_salary-wrap">
                                    <span class="emp-prop_header">Salary: </span>
                                    @Math.Round(emp.Salary, 2) ₴
                                </div>
                            </a>
                        }
                    </div>
                }
                else
                {
                    <div class="no__items-wrapper">
                        <img class="no__items-img" src="~/img/noEmployees.png">
                        <span class="no__items-room-span">
                            There are 
                            <span class="text-highlight">no employees</span>
                             responsible to this room. Add one!
                        </span>
                    </div>
                }
            </div>

            <div class="room_enclosures-wrapper @(isEnclosureCompatible ? string.Empty : "hidden")">
                <div class="room_enclosures-header">
                    <span class="room_enclosures-span">Room Enclosures:</span>
                    <a class="add_btn btn @(isEnclosureCompatible ? string.Empty : "disabled")"
                   asp-action="AddAnimalEnclosureToRoom" asp-controller="HotelManager" asp-route-roomId="@Model.ActiveRoom!.Id">
                        Add Enclosure To Room
                    </a>
                </div>
                @if (Model.ActiveRoom!.Enclosures!.Count != 0)
                {
                    <div class="enclosure_statuses-wrapper">
                        @foreach (EnclosureStatus status in Enum.GetValues<EnclosureStatus>())
                        {
                            <div class="enclosure-status-cont">
                                <div class="enclosure_status @(UtilFuncs.GetEnumDisplayName(status).ToLower())"></div>
                                <span class="enclosure_status-name">@($"{UtilFuncs.GetEnumDisplayName(status)}")</span>
                            </div>
                        }
                    </div>
                    <div class="room_enclosures-cont">
                        @foreach (AnimalEnclosure enclosure in Model.ActiveRoom!.Enclosures!)
                        {
                            <a class="room_enclosure-cont @UtilFuncs.GetEnumDisplayName(enclosure.EnclosureStatus).ToLower()"
                                asp-action="ManagerRoomInformation" asp-controller="HotelManager" asp-route-roomId="@Model.ActiveRoom!.Id"
                                asp-route-enclosureId="@enclosure.Id" asp-route-status="@enclosure.EnclosureStatus">
                                @enclosure.Id
                            </a>
                        }
                    </div>
                }
                else
                {
                    <div class="no__items-wrapper">
                        <img class="no__items-img" src="~/img/noEnclosures.png">
                        <span class="no__items-room-span">
                            There are
                            <span class="text-highlight">no enclosures</span>
                            in this room. Add one!
                        </span>
                    </div>
                }
            </div>

            <span class="delete__error-span">
                @roomDeleteErrorMessage
            </span>
            <div class="room_action-btns-wrapper">
                <a class="action__edit action_btn" asp-action="EditRoomPage" asp-controller="HotelManager"
               asp-route-roomId="@Model.ActiveRoom!.Id">
                    Edit room 
                    <img class="action_icon" src="~/img/edit-pencil.png" />
                </a>
                <a class="action__delete action_btn" asp-action="DeleteRoom" asp-controller="HotelManager"
               asp-route-roomId="@Model.ActiveRoom!.Id">
                    Delete Room
                    <img class="action_icon" src="~/img/trash-bin.png" />
                </a>
            </div>
            @if (Model.ActiveEnclosure != null)
            {
                <div class="enc_room-modal modal @((Model.IsInteractedWithModal && Model.ActiveEnclosure != null) ? string.Empty : "hidden")">
                    <span class="modal__close-btn">X</span>
                    <span class="enr_modal-header text-highlight">
                        Enclosure @Model.ActiveEnclosure!.Id
                    </span>

                    <div class="enr_modal-els-wrapper">
                        <div class="enr__column l1">
                            <div class="enr__row">
                                <label class="profile__form-lbl">Price Per Day</label>
                                <input class="form__input-num" value="@Math.Round(Model.ActiveEnclosure!.PricePerDay, 2)" readonly>
                            </div>
                            <div class="enr__row">
                                <label class="profile__form-lbl">Enclosure Type</label>
                                <select class="form__input-select">
                                    <option value="@Model.ActiveEnclosure!.Id" selected>@Model.ActiveEnclosure!.EnclosureType!.Name</option>
                                </select>
                            </div>
                            <div class="enr__row">
                                <label class="profile__form-lbl">Status: </label>
                                <span class="enclosure_status-name text_@(UtilFuncs.GetEnumDisplayName(Model.ActiveEnclosure!.EnclosureStatus)
                                .ToLower())" >@($"{UtilFuncs.GetEnumDisplayName(Model.ActiveEnclosure!.EnclosureStatus)}")</span>
                            </div>
                        </div>
                        <div class="enr__column r1">
                            <div class="enr__row">
                                <label class="profile__form-lbl">Max Animals</label>
                                <input class="form__input-num" type="number" value="@Model.ActiveEnclosure!.MaxAnimals" readonly>
                            </div>
                            <div class="enr__row">
                                <label class="profile__form-lbl">Animal Type</label>
                                <select class=form__input-select>
                                    <option value="@Model.ActiveEnclosure!.AnimalTypeId" selected>@Model.ActiveEnclosure!.AnimalType!.Name</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <span class="delete_edit_error-span">@enclosureErrorMessage</span>
                    <div class="modal__btns-wrapper">
                        <a class="action__edit action_btn" asp-action="EditEnclosurePage" asp-controller="HotelManager"
                   asp-route-enclosureId="@Model.ActiveEnclosure!.Id" asp-route-status="@Model.ActiveEnclosure!.EnclosureStatus"
                        asp-route-roomId="@Model.ActiveRoom!.Id">
                            Edit Enclosure
                        </a>
                        <a class="action__delete action_btn" asp-action="RemoveEnclosure" asp-controller="HotelManager"
                   asp-route-enclosureId="@Model.ActiveEnclosure!.Id" asp-route-status="@Model.ActiveEnclosure!.EnclosureStatus"
                            asp-route-roomId="@Model.ActiveRoom!.Id">
                            Delete Enclosure  
                            <img class="action_icon" src="~/img/trash-bin.png">
                        </a>
                    </div>
                </div>
            }
            @if (Model.ActiveEmployee != null)
            {
                <div class="emp_room-modal modal @((Model.IsInteractedWithModal) ? string.Empty : "hidden")">
                    <span class="modal__close-btn">X</span>

                    <div class="er-modal_header-wrapper">
                        <span class="er-modal-name text-highlight">@($"{Model.ActiveEmployee!.FirstName} {Model.ActiveEmployee!.LastName}")</span>
                        <img class="er-modal-img" src="~/img/image_placeholder.png" />
                    </div>

                    <div class="er-modal_els-wrapper">
                        <div class="er-modal__column l1">
                            <div class="er-modal__row">
                                <label class="profile__form-lbl">Email</label>
                                <input class="form__input-txt" value="@Model.ActiveEmployee!.Login" readonly />
                            </div>
                            <div class="er-modal__row">
                                <label class="profile__form-lbl">Salary</label>
                                <input class="form__input-num" asp-for="ActiveEmployee!.Salary" type="number" readonly/>
                            </div>
                            <div class="er-modal__row date">
                                <label class="profile__form-lbl">Birth Date</label>
                                <input class="form__input-date" value="@(UtilFuncs.DateToHtmlFormatter(Model.ActiveEmployee!.BirthDate))"
                                       type="date" readonly />
                            </div>
                        </div>
                        <div class="er-modal__column r1">
                            <div class="er-modal__row">
                                <label class="profile__form-lbl">Phone Number</label>
                                <input class="form__input-txt" value="@Model.ActiveEmployee!.PhoneNumber" />
                            </div>
                            <div class="er-modal__row">
                                <label class="profile__form-lbl">Sex</label>
                                <select class="form__input-select readonly">
                                    <option selected>@Model.ActiveEmployee!.Sex</option>
                                </select>
                            </div>
                            <div class="er-modal__row date">
                                <label class="profile__form-lbl">Hired Since</label>
                                <input class="form__input-date" value="@(UtilFuncs.DateToHtmlFormatter(Model.ActiveEmployee!.HiredSince))"
                                       type="date" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="modal__btns-wrapper">
                        <a class="action__delete action_btn" asp-action="RemoveEmployeeFromRoom" asp-controller="HotelManager"
                   asp-route-roomId="@Model.ActiveRoom!.Id" asp-route-employeeId="@Model.ActiveEmployee!.SubUserId">
                            Remove Employee from room
                            <img class="action_icon" src="~/img/trash-bin.png" />
                        </a>
                    </div>
                </div>
            }
            @if (Model.SuitableEmployees != null && Model.NewRoomEmployee != null && Model.SuitableEmployees.Count != 0)
            {
                <div class="er_room-modal modal @(Model.IsInteractedWithModal ? string.Empty : "hidden")">
                    <span class="modal__close-btn">X</span>
                    <span class="er_room-header text-highlight">Employee Adding</span>
                    <form asp-action="AddResponsibleEmployee" asp-controller="HotelManager" method="post">
                        <input asp-for="ActiveRoom!.Id" type="hidden">


                        <div class="er_modal-els-wrapper">
                            <div class="er-modal__row l1">
                                <label class="profile__form-lbl" asp-for="NewRoomEmployee!.RoomId">Room Number</label>
                                <input class="form__input-num" type="number" asp-for="NewRoomEmployee!.RoomId" 
                                   value="@Model.ActiveRoom!.Id" readonly>
                            </div>
                            <div class="er-modal__row r1">
                                <label class="profile__form-lbl" asp-for="NewRoomEmployee!.EmployeeId">Employee</label>
                                <select class="form__input-select" asp-for="NewRoomEmployee!.EmployeeId">
                                    @for(int i = 0; i < Model.SuitableEmployees.Count; i++)
                                    {
                                        @if (i == 0)
                                        {
                                            <option value="@Model.SuitableEmployees[i].Id" selected>
                                                @($"{Model.SuitableEmployees[i].FirstName} {Model.SuitableEmployees[i].LastName}. Salary: {Math.Round(Model.SuitableEmployees[i].Salary, 2)}")
                                            </option>
                                        }
                                        else
                                        {
                                            <option value="@Model.SuitableEmployees[i].Id">
                                                @($"{Model.SuitableEmployees[i].FirstName} {Model.SuitableEmployees[i].LastName}. Salary: {Math.Round(Model.SuitableEmployees[i].Salary, 2)}")
                                            </option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <button class="add_er-btn btn" type="submit">Add Employee</button>
                    </form>
                </div>
            }
            <div class="overlay @(Model.IsInteractedWithModal ? string.Empty : "hidden")"></div>
        </div>
    </div>
}